@import "./utils/constants.scss";

body {
    margin: 0;
    height: 100vh;
    color: $main-color-t2;
}

#root {
    height: 100%;
    background-color: transparent;
}

h3 {
    font-size: $h3-font-size;
}

h4 {
    font-size: $h4-font-size;
}
