$main-color-t4: #fb3640;
$background-color-t4: #fdca40;
$static-item-bg-color-t4: white;
$section_bg-c-t4: #a799b7;
$select-bg-color-t4: #542e71;

$box-shadow-color-t4: white;
$box-shadow-color-section-t4: rgba(255, 255, 255, 0);
$header-border-color-t4: white;
$static-item-border-color-t4: rgb(0, 0, 0);