$main-color-t3: #9fb4e6;
$background-color-t3: #f55c47;
$static-item-bg-color-t3: #4aa96c;
$section_bg-c-t3: #564a4a;
$select-bg-color-t3: #32864f;

$box-shadow-color-t3: white;
$box-shadow-color-section-t3: black;
$header-border-color-t3: white;
$static-item-border-color-t3: rgb(0, 0, 0);