$main-color-t1: #4AF626;
$background-color-t1: linear-gradient(#000000, #23241f);
$static-item-bg-color-t1: white;
$section_bg-c-t1: rgb(0, 0, 0);
$select-bg-color-t1: rgb(0, 0, 0);

$box-shadow-color-t1: white;
$box-shadow-color-section-t1: rgba(255, 255, 255, 0);
$header-border-color-t1: white;
$static-item-border-color-t1: rgb(0, 0, 0);