$main-color-t2: white;
$background-color-t2: linear-gradient(to right, #1e3c72, #2a5298);
$static-item-bg-color-t2: #5959ad;
$section_bg-c-t2: #2C1775;
$select-bg-color-t2: #1e3c72;

$box-shadow-color-t2: white;
$box-shadow-color-section-t2: black;
$header-border-color-t2: white;
$static-item-border-color-t2: rgb(23, 23, 109);